<!DOCTYPE html>
<html lang="en">

  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Prinder - Find your project partner</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'myapp/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
      <link rel="stylesheet" href = "{% static 'myapp/style.css' %}">

    <link href="{% static 'myapp/scrolling-nav.css' %}" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    

    <header class="bg-primary text-white">
      <div class="container text-center">
        <h1>Members of Project</h1>
            {% for i in members %}
             <div class = "card-details">
            Name : &nbsp; {{i}}
            </div>
               
                {% endfor %}
        
       
    </header>




      <section id="dark"  class = "bg-white">    
        <div class="container">
          <div class="row">
            <div class="col-lg-2 mx-auto">
              <a href="{% url 'myapp:creategroupchat' projectName %}"> StartChat</a>
                       
             
            </div>
          </div>
        </div>
      </section>

  

    
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'myapp/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'myapp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{%static 'myapp/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="{%static 'myapp/js/scrolling-nav.js' %}"></script>

  </body>

</html>